*{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}
#topo{
    background-color: #303030;
    background-size: cover;
    padding: 130px;
    
}

#titulo-top{
    margin-left: 80px;
    font-size: 50px;
    color: aliceblue;
   
   
}
#paragrafo-top{
    margin-left: 160px;
    color: aliceblue;
    font-size: 30px;
}
#bannes{
    background-color: #F9F9F9;
    padding: 130px;
    display: flex;
    justify-content: space-around;   
}
#imagem{
    display: flex;
    margin-left: 250px;
    margin-top: 50px;
}
#image{
    width: 510px;
    height: 605px;
    left: 976px;
    padding-top: 40px;
    padding-bottom: 35px;
    border-radius: 30px;
}


#texto{
    margin-top: 70px;
    margin-left: 200px;
}

#titulo-img{
    margin-right: 150px;
    font-size: 35px;
}

#corpo-img{
    font-size: 20px;

}
#formulario{
    background-color: #303030;
    background-color: #303030;color: #ffffff;
    padding-bottom: 250px;
    text-align: center;
}
#titulo-form{
    font-size: 25px;
    padding: 85px;
}
input{
    width: 300px;
    height: 40px;
    margin: 20px;
    border-radius: 10px;
    border: 0px;
    background-color: #ffffff;
    padding-left: 15px;
}

button{
    background-color:  #C07212;
    width: 200px;
    height: 40px;
    color: #ffffff;
    border-radius: 10px;
    border: 0px;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    background-color:  #e99c3e;
    color: #ffffff;
    transform: translateY(-7px);
    box-shadow: 0px  15px 20px #8d581c70;
    transition-duration: 0.5s;
}
